[Unit]
Description=frp client
After=network-online.target
Wants=network-online.target

[Service]
User=root
ExecStart=/root/frp_0.57.0_linux_arm64/frpc -c /root/frp_0.57.0_linux_arm64/frpc.toml
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target